.dashboard {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .dashboard__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #dcdcdc;
    padding: 30px;
  }
  .dashboard__btn {
    width: 100px;
    height: 40px;
    color: yellow;
    background: red;
    border-radius: 20px;
  }
  .dashboard div {
    margin-top: 7px;
  }

  .books-collection {
    display: flex!important;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 90%;
  }